body{
    text-align: center;
    margin-left:30%;
    margin-top: 100px;
    background-image: linear-gradient(lightblue, pink);
}
div{
    border: 3px solid gray;
    border-radius: 20px;
    width: 60%;
    height: 300px;
    background-image: radial-gradient(rgb(197, 15, 182) ,lightblue);
label1{
    margin-bottom: 30px;
    padding: 30px;
}